.button-like {
  max-width: 22px;
  max-height: 19px;
  object-fit: none;
  object-position: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.button-like:active {
  background-color: #000000;
}
