.form__input-error {
  width: 358px;
  margin-top: 5px;
  margin-left: 0;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  transition: 0.3s;
}
